/* :root{

	--primaryColor: #ff274b;
	--secondryColor: #f7bcf7;
	--lightColor:#ffffff;
	--bgColor-1:#171a1c;
	--bgColor-2:#22282a;
	--padding:8%
}

body{
    background-color: black;
}


.box{
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 500px;
    height: auto;
  }

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.input {
	margin-bottom: 20px;
}

.button {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="search"]
{
    background-color: #555;
	color: white;
	padding: 5px;
	border-radius: 5px;
	border: none;
	width: 100%;
	box-sizing: border-box;
}

.button button{
    background-color: var(--secondryColor);
    width: 100%;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button button:hover{
    background-color: #f097f0;
    transition: .5s;
} */
:root{

	--primaryColor: #ff274b;
	--secondryColor: #f7bcf7;
	--lightColor:#ffffff;
	--bgColor-1:#171a1c;
	--bgColor-2:#22282a;
	--padding:8%
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100wh;
    height: 100vh;
    background-color: var(--bgColor-1);

}
table{
    position: absolute;
    z-index: 2;
    left: 15%;
    top: 90%;
    width: 60%;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 12px ;
    border-color: #FFFFFF;
    overflow: hidden;
    text-align:left;
    box-shadow: 0 2px 2px rgba(132, 129, 129, 0.3);
    width: 70%;
    background: #3a4042;
}
th{
    background: #ff274b;
    color: #3a4042;
    text-transform: capitalize;
}
th, td {
    
    padding:10px 15px;
    text-align: left;
    border-bottom: 1px solid #9a9a9a;
    box-shadow: rgba(193, 142, 200, 0.5) 0 1px 30px;
    border-color: #FFFFFF;
}
.head{

    color: #d86477;
    font-size: 20px;
}
td{
    color: var(--lightColor);
    font-size: 18px;
}

tr:hover{
    box-shadow: rgba(193, 142, 200, 0.5) 0 1px 30px;
    /* background-color: var(--secondryColor); */
} 
span{
    color: #FFFFFF;
    font-size: 20px;
}
  .search-form {
    margin-top: 20px;
    width: 300px;
    height: 50px;
    position: relative;
}

.search-form input {
    width: 100%;
    height: 100%;
    background-color: #22282a;
    border: 2px solid #d86477;
    border-radius: 10px;
    outline: none;
    padding: 0 10px;
    font-size: 20px;
    margin-top: -290px;
    margin-left: 100px;
    
}
.search-form input:hover{
    box-shadow: rgba(193, 142, 200, 0.5) 0 1px 30px;
}

 button{

    border-radius: 8px;
    background-color: #c25f6f;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

  }
  

  button{
    /* box-shadow: rgba(142, 133, 211, 0.5) 0 1px 30px; */
    transition-duration: .1s;
    margin-left: 270px;
    margin-top: 20px;
  
  }
  button:hover
{
    box-shadow: rgba(193, 142, 200, 0.5) 0 1px 30px;
}

  @media (min-width: 768px) {
    button {
      padding: 0 2.6rem;
    }
  }
.msg{
    align-items: center;
    justify-content: center;
    margin: 79px;
}
.pic{
    width: 28%;
    height: 50%;
    position: relative;
    align-self: flex-end;
    margin-top: -170px;
    margin-right: 70px;
    transition: bottom 2s;
}
.pic:hover {
    bottom: 10%;
}
