{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="this page view FCI 2023 Web Projects ">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="icon" href="{% static 'icons/Education-rafiki.png' %}">
    <title>FCI Web Projects</title>
</head>
<body>
    <section class="Home" id="home">
        <h1 class="center_text"><span>FCAI</span> Technology projects</h1>
        <div class="sr">
            <ul class="sr">
                <li>
                    <a href="index.html" target="_blank" >
                        <img src="{% static 'icons/Students-rafiki.png' %}" alt="" class="pic">
                        <figcaption class="caption">Student Affairs</figcaption>
                    </a>
                </li>
                <li>
                    <a href="#" >
                        <img src="{% static 'icons/New employee-amico.png' %}" alt=""class="pic" >
                        <figcaption class="caption">Human Resources</figcaption>
                    </a>
        
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'icons/Learning-rafiki.png' %}" alt="" class="pic">
                        <figcaption class="caption">Higher studies</figcaption>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{% static 'icons/Vaccine development-bro (1).png' %}" alt="" class="pic">
                        <figcaption class="caption">Laboratory tracking</figcaption>
                    </a>
                </li>
            </ul>
        </div>
    </section>    
</body>
</html>
