:root {

    --primaryColor: #ff274b;
    --secondryColor: #f7bcf7;
    --lightColor:#ffffff;
    --bgColor-1:#171a1c;
    --bgColor-2:#22282a;
    --padding:8%
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}
p{
    color: var(--secondryColor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}
html{
font-family: 'josefin Sans', sans-serif;
font-size: 16px;
color: var(--lightColor);
}
.Home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
    
}
span
{
    color: var(--primaryColor);
    font-size: 1.8rem;
}
h5{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

.ss
{
    color: var(--primaryColor);
    font-size: 1.5rem;
}
h2, h3{
    font-size: 1.6rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}
nav
{
    
    padding-top: 1.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a{
    color: var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color: var(--primaryColor);

}
.menu{
    color: var(--lightColor);
    transition: 0.4s;
}
.menu:hover{
    color: var(--primaryColor);
}
.content{
    flex-grow: 1;
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    margin: 70px;
}
h1{

    font-size: 2rem;
    margin: 1.7rem 0;
}
.container_imags{
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
    
}
.container_imags img{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 120%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s;
    margin-bottom: 10px;
    object-fit: cover;
}
.container_imags:hover .pic{
    bottom: 20%;
}
.about{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    justify-content: space-between;

}
/* .about.container_imags{
    width: 35%;
    
} */
.about.container_imags img{
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 120%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s;
    width: auto; height: auto; max-width: 500px; max-height: 300px;
}
.about_us{
   
    bottom: 0px;
    width: 70%;
    height: 70%;
    transition: bottom 1s;
}
.about_us:hover
{
    bottom: 20%;
}
.services{
    background-color: var(--bgColor-1);
    padding: 2rem var(--padding);
}
.center_text
{
    text-align: center;

}
.services ul li img{
    bottom: 0px;
    width: 20%;
    height: 30%;
    transition: bottom 1s;
}
.caption{
    color: #ffffff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin: 10px;
    padding-left: 30px;
}
.caption:hover
{
    color: var(--primaryColor);
    cursor: pointer;
}
.content_us{
    flex-grow: 1;
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom:150px ;
}
.inputs{
    padding: 2rem var(--padding);
    margin-bottom: 170px;
}
.sr{
    display: flex;
    justify-content: space-between;
}
.sr img{
    bottom: 0px;
    width: 77%;
    height: 77%;
    transition: top 1s;
}
.sr img:hover{
    top: 10%;
}